{% if message %} {% if request.user == message.sender %}
<div class="flex justify-end mb-2">
  <div class="rounded py-2 px-3" style="background-color: #e2f7cb">
    <p class="text-sm mt-1">{{message.content}}</p>
    <p class="text-right text-xs text-grey-dark mt-1">{{message.timestamp}}</p>
  </div>
</div>
{% else %}
<div class="flex mb-2">
  <div class="rounded py-2 px-3" style="background-color: #f2f2f2">
    <p class="text-sm text-teal">{{message.receiver}}</p>
    <p class="text-sm mt-1">{{message.content}}</p>
    <p class="text-right text-xs text-grey-dark mt-1">{{message.timestamp}}</p>
  </div>
</div>
{% endif %} {% else %} error {% endif %}
